<div class="search-form well">
  <%= search_form_for @search, url: report_bookings_path, :html => {:class => ""} do |f| %>
      <div class="form-inputs">
        <div class="control-group booking_name">

          <label class="control-label" for="booking_id">หมายเลข</label>

          <div class="controls">
            <%= f.text_field :number_cont %>
          </div>

          <label class="control-label" for="booking_id">ชื่อลูกค้า</label>

          <div class="controls">
            <%= f.text_field :customer_name_cont %>
          </div>

          <label class="control-label" for="booking_id">วันที่ทำการจองตั๋ว</label>

          <div class="controls">
            <div id="datetimepicker1" class="input-append date">
              <input data-format="dd/MM/yyyy" type="text" id="q_created_at_casted_date_equals" name="q[created_at_casted_date_equals]"></input>
              <%#= f.text_field :created_at_eq %>
              <span class="add-on">
                  <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
                </span>
            </div>
          </div>

          <%= f.button "ค้นหา", :class => "btn btn-success" %>
        </div>
      </div>
  <% end %>
</div>