<div class="span11">
  <div class="title-group">
    <div class="title">
      <h3>
        <div class="RG"></div>
        แก้ไขเส้นทางต้นแบบ
      </h3>
    </div>
  </div>
  <%= render 'form' %>
</div>


