<div class="span11">
  <div class="title-group">
    <div class="title">
      <h3>
        <div class="RG"></div>
        แก้ไขข้อมูลผู้ใช้
      </h3>
    </div>
  </div>

<p>ชื่อผู้ใช้ : <%= @user.name %></p>
<p>อีเมล์ : <%= @user.email if @user.email %>

<p><%= link_to "เพิ่มผู้ใช้", new_user_invitation_path %></p>
</div>
