<div class="span11">
  <div class="title-group">
    <div class="title">
      <h3>
        <div class="RG"></div>
        <%= t('helpers.titles.edit') + t('activerecord.models.destination') %>
      </h3>
    </div>
  </div>
  <%= render 'form' %>
</div>


