// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#trip_departure_1i{
  width: 80px;
}
#trip_departure_2i{
  width: 120px;
}
#trip_departure_3i{
  width: 50px;
}
#trip_departure_4i{
  width: 60px;
}
#trip_departure_5i{
  width: 60px;
}

#trip_arrival_1i{
  width: 80px;
}
#trip_arrival_2i{
  width: 120px;
}
#trip_arrival_3i{
  width: 50px;
}
#trip_arrival_4i{
  width: 60px;
}
#trip_arrival_5i{
  width: 60px;
}