<div class="span11">
  <div id="print-area">
    <%= render 'shared/ticket' %>
  </div>
  <div class="form-actions pull-center">
    <%= link_to_icon " พิมพ์ตั๋ว", "#", {:id => "print-ticket", :class => "btn btn-large btn-primary"}, "icon-print" %>
  </div>
</div>